body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(123, 177, 177);
}

.weather-button{
    padding: 70px 15px;
    background-color: rgb(9, 96, 140);
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
}

.weather-button:hover{
    box-shadow: 5px 5px 5px rgb(133, 129, 129);
    cursor: pointer;
}

.Weather-class{
    text-align: center;
}

p{
    background-color: rgb(32, 97, 117);
    color: white;
    padding: 20px;
}

p:hover{
    cursor: progress;
}